
.StatusButton{
    background-color: #f5f5f5;
    border: none;
    border-radius: 25px;
    color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    font-size: 14px;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    width: 100px;
    transition: background-color 0.3s;
    font-weight: bold;
}

.StatusMenu{
    position: absolute;
    inset-area: bottom;
    position-area: bottom;
    margin: 16px;
    border: 1px solid #f5f5f5;
    border-radius: 8px;
    width: 120px;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}